<html>
  <head>
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css' />
    <script src='/angular/angular.js'></script>
    <script src='/angular-ui-router/release/angular-ui-router.js'></script>
    <script src='/app.js'></script>
    <script src='/UsersListCtrl.js'></script>
    <script src='/UserService.js'></script>
    <script src='/usersStatus.js'></script>
    <script src='/WebSocketService.js'></script>
  </head>
  <body ng-app='app'>
    <div class='container'>
      <ul class='nav nav-tabs'>
        <li ui-sref-active='active'>
          <a ui-sref='home'>Home</a>
        </li>
        <li ui-sref-active='active'>
          <a ui-sref='users'>Users</a>
        </li>
      </ul>
    <ui-view></ui-view>
    <pre>
API_URL: {{ API_URL }}
WS_URL: {{ WS_URL }}
    </pre>
    <script>
      var API_URL = '{{ API_URL }}';
      var WS_URL = '{{ WS_URL }}';
    </script>
    <script>
    </script>
    </div>
  </body>
</html>
